div.infinite-plans {
  width: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.infinite-plans p {
  white-space: nowrap;
}

.link {
  text-decoration: none;
  color: black;
}
