/* Indentation: */
p.quarter {
  text-indent: 0.25in;
}
p.half {
  text-indent: 0.5in;
}
p.three-quarters {
  text-indent: 0.75in;
}
p.one {
  text-indent: 1in;
}

/* Cursor Visibility: */
#default {
  cursor: default;
}
#one {
  cursor: none;
}

.a-continuous-flow-of-introductions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  height: 90vh;
  padding: 5vh 45vw 5vh 5vw;
}
.a-continuous-flow-of-introductions div.stanza {
  line-height: 0.9;
}
.a-continuous-flow-of-introductions div.top-margin {
  margin-top: 28px;
}

.The-crowd-presses-me {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  padding: 25vh 25vw;
}

.I-laugh-at-my-fierce-guest {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  height: 50vh;
  padding: 25vh 45vw 25vh 5vw;
  line-height: 10px;
}

.Prestigious-ghosts {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  height: 90vh;
  padding: 5vh 45vw 5vh 5vw;
  line-height: 0.5;
}

.Pictorial-preoccupations {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw;
  height: 50vh;
  padding: 25vh 45vw 25vh 5vw;
  line-height: 1;
}

.Hunters-behind-clouds {
  position: absolute;
  width: 50vw;
  height: 50vh;
  padding: 7vh 45vw 43vh 5vw;
}

.The-body-delighted {
  position: absolute;
  width: 50vw;
  height: 55vh;
  padding: 41vh 43vw 4vh 7vw;
  line-height: 0.6;
}

.Regent-of-Interregnum {
  position: absolute;
  bottom: 0%;
  width: 50vw;
  height: 40vh;
  padding: 59vh 45vw 1vh 5vw;
  line-height: 0.6;
}

.I-am-the-inheritor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 485px;
  height: 50vh;
  padding: 25vh calc(100vw - 970px);
  text-align: justify;
  white-space: normal;
}

.Parched-spirits {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
  height: 90vh;
  padding: 5vh 75vw 5vh 5vw;
  line-height: 0.8;
}

.You-must-have-regard {
  position: absolute;
  width: 440px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: calc(100vw - 440px);
  text-align: justify;
  white-space: normal;
}

.By-itself-time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8vw;
  row-gap: 3vh;
  width: 28vw;
  height: 32vh;
  padding: 32.5vh 33vw;
}
.By-itself-time > div.stanza {
  line-height: 0.5;
}

.scud-angel {
  position: absolute;
  right: 0%;
  width: 50vw;
  height: 60vh;
  padding: 7vh 6vw 33vh 46vw;
  text-align: right;
  line-height: 1;
}
.scud-angel > p.top-margin {
  margin-top: 40px;
}
