/* .App {
  text-align: center;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  font-weight: 500;
}

div.stanza {
  line-height: 0.8;
}

p.one {
  text-indent: 2em;
}

p.two {
  text-indent: 4em;
}

p.three {
  text-indent: 6em;
}

pre {
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  font-weight: 500;
} */
