body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  font-weight: 450;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
  white-space: nowrap;
}

.vertically-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.link {
  text-decoration: none;
  color: black;
}

span.hidden {
  visibility: hidden;
}

#button {
  position: fixed;
  right: 5px;
  border: none;
  font-size: 20px;
  font-weight: 575;
  padding: 20px;
  color: lightgray;
  letter-spacing: 3px;
  transition: 1000ms;
  transform: rotate(-45deg) scale(1, 1.5);
  z-index: 2;
}

#button:hover {
  color: gray;
  letter-spacing: 6px;
}

#button:active {
  border: none;
  outline: none;
}

/* Fullscreen Button Visibility: */
.display {
  opacity: 1;
}
.hide {
  opacity: 0;
}

/* Cursor Visibility: */
.default {
  cursor: default;
}
.none {
  cursor: none;
}

*:fullscreen {
  background: #fff;
}

@media (max-width: 800px) {
  p,
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: normal;
    line-height: 10.5px;
  }
  .You-must-have-regard > p,
  .I-am-the-inheritor > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    max-height: 400px;
    line-height: 20px !important;
  }
}
