body {
  height: 100%;
  width: 100%;
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.ruler {
  opacity: 0;
  pointer-events: none;
}

span.hidden {
  visibility: hidden;
}
