body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px;
  font-weight: 450;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

div.ruler {
  opacity: 0;
  pointer-events: none;
}

span.hidden {
  visibility: hidden;
}

#button {
  position: fixed;
  right: 5px;
  border: none;
  font-size: 20px;
  font-weight: 575;
  padding: 20px;
  color: lightgray;
  letter-spacing: 3px;
  transition: 1000ms;
  transform: rotate(-45deg) scale(1, 1.5);
  z-index: 2;
}

#button:hover {
  color: gray;
  letter-spacing: 6px;
}

#button:active {
  border: none;
  outline: none;
}
.display {
  opacity: 1;
}
.hide {
  opacity: 0;
}

*:fullscreen {
  background: #fff;
}

#cursor {
  cursor: none;
}
.default {
  cursor: default;
}
.none {
  cursor: none;
}
